


/********************FONTS***************/

/*AILERON ITALIC*/
@font-face {
    font-family: 'aileronitalic';
    src: url('fonts/aileron/aileron-italic-webfont.woff2') format('woff2'),
         url('fonts/aileron/aileron-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



/*AILERON LIGHT*/
@font-face {
    font-family: 'aileronlight';
    src: url('fonts/aileron/aileron-light-webfont.woff2') format('woff2'),
         url('fonts/aileron/aileron-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



/*AILERON REGULAR*/
@font-face {
    font-family: 'aileronregular';
    src: url('fonts/aileron/aileron-regular-webfont.woff2') format('woff2'),
         url('fonts/aileron/aileron-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



/*AILERON THIN*/
@font-face {
    font-family: 'aileronthin';
    src: url('fonts/aileron/aileron-thin-webfont.woff2') format('woff2'),
         url('fonts/aileron/aileron-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



/*AILERON ULTRATHIN*/
@font-face {
    font-family: 'aileronultralight';
    src: url('aileron-ultralight-webfont.woff2') format('woff2'),
         url('aileron-ultralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*PACIFICO -- used as "hello world" intro*/
@font-face {
    font-family: 'pacifico';
    src: url('fonts/Pacifico/pacifico-webfont.woff2') format('woff2'), /*modern browsers*/
         url('fonts/Pacifico/pacifico-webfont.woff') format('woff').   /*relatively modern browsers*/
         url('fonts/Pacifico/pacifico.ttf') format('truetype');        /*safari, android, iOS*/
    font-weight: normal;
    font-style: normal;

}

/*LORA -- used as education/contact h1*/
@font-face {
    font-family: 'lora';
    src: url('fonts/Lora/lora-regular.eot'),                             /* IE9 Compat Modes */
    	 url('fonts/Lora/lora-regular-webfont.woff2') format('woff2'),   /*modern browsers*/
         url('fonts/Lora/lora-regular-webfont.woff') format('woff');     /*relatively modern browsers*/
    font-weight: normal;
    font-style: normal;

}

/*ALEO LIGHT*/
@font-face {
    font-family: 'aleoLight';
    src: url('fonts/Aleo/Light/aleo-light-webfont.eot'),                     /* IE9 Compat Modes */
    	 url('fonts/Aleo/Light/aleo-light-webfont.woff2') format('woff2'),   /*modern browsers*/
         url('fonts/Aleo/light/aleo-light-webfont.woff') format('woff'),     /*relatively modern browsers*/
         url('fonts/Aleo/light/aleo-light-webfont.ttf') format('truetype'),  /*safari, android, iOS*/
         url('aleo.svg#aleo-light-webfont') format('svg');					 /* Legacy iOS */
    font-weight: normal;
    font-style: normal;

}

/*ALEO REGULAR*/
@font-face {
    font-family: 'aleo';
    src: url('fonts/Aleo/Regular/aleo-regular-webfont.eot'),                     /* IE9 Compat Modes */
    	 url('fonts/Aleo/Regular/aleo-regular-webfont.woff2') format('woff2'),   /*modern browsers*/
         url('fonts/Aleo/Regular/aleo-regular-webfont.woff') format('woff'),     /*relatively modern browsers*/
         url('fonts/Aleo/Regular/aleo-regular-webfont.ttf') format('truetype'),  /*safari, android, iOS*/
         url('aleo.svg#aleo-regular-webfont') format('svg');					 /* Legacy iOS */
    font-weight: normal;
    font-style: normal;

}

/*ALEO BOLD*/
@font-face {
    font-family: 'aleoBold';
    src: url('fonts/Aleo/Bold/aleo-bold-webfont.eot'),                     /* IE9 Compat Modes */
    	 url('fonts/Aleo/Bold/aleo-bold-webfont.woff2') format('woff2'),   /*modern browsers*/
         url('fonts/Aleo/Bold/aleo-bold-webfont.woff') format('woff'),     /*relatively modern browsers*/
         url('fonts/Aleo/Bold/aleo-bold-webfont.ttf') format('truetype'),  /*safari, android, iOS*/
         url('aleo.svg#aleo-light-webfont') format('svg');					 /* Legacy iOS */
}

/********************END OF FONTS***************/


/* Hello World, I'm Erika */
#intro h1 {
	font-family: pacifico, monospace, arial;
	font-size:7em;
	padding-bottom: 10%;
	padding-top: 10%;
	  color: #60c8cc;
	  
	  
	  overflow: hidden; /* Ensures the content is not revealed until the animation */
	  border-right: .15em gray; /* The typwriter cursor */
	  white-space: nowrap; /* Keeps the content on a single line */
	  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	  /*letter-spacing: .155em;  Adjust as needed */
	  animation: 
	    typing 3.5s steps(30, end),
	    blink-caret .5s step-end infinite;

}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

/* My about me writing and pic, pushing both lower into gradint */
.myBlurb {
	margin-top: 20%;
}
.myPic img {
	margin-top: 5em;
}


/*background of about me/education section*/
#aboutMe {

	background-image: url("img/bgGrad.png"); /*gradient, top and bottom fade to white*/
	background-repeat: no-repeat;
	background-size: cover auto;
	padding: 10% 0 10% 0;
}



/*about me paragraph*/
.myBlurb p {
	margin-left: 35%;
	font-family: aileronlight, helvetica, sans-serif;
	font-size: 1.2em;
	
}



/*education info headers*/
#myEducation h2, #contact h1, #contact h2 {
	margin:auto;
	text-align: center;
	font-family: aleo, times, serif; 
	font-size: 1.7em;
}



/*education info explanation*/
#myEducation p
{
	font-family: aileronregular, helvetica, sans-serif;
	margin: 0 4em 0 4em;
}


/*centers glyphs and social media icons*/
.educationInfo, #contact
{
	text-align: center;
}


/*Glyphs used in education section*/
span.glyphicon {
    font-size: 2em;
    padding-bottom: .5em;
}
span.glyphicon-education {
    font-size: 2.6em;
    padding-bottom: .225em;
}


/*picture bounce animation delay*/
#aboutMe .myPic img {
	animation-delay: 2.5s;
	padding-top: 10%;
}

/*social media icons*/
#contact img
{
	opacity: 0.7;
}


/*nav bar*/
.navbar {
	border-style: none;
}
/*nav bar toggle button*/
.navbar-toggle button{
	color: #4B0082;
	border-color: white;
	border-width: 2em;
}
/*nav bar links*/
.navbar-brand, ul.nav li a, ul.nav li a:visited {
    color: #E6E6FA !important;
    font-family:aileronregular, helvetica, sans-serif;
    
}
/*nav bar links*/
ul.nav li a:hover, ul.nav li a:active {
    color: white !important;
}
/*nav bar links*/
ul.nav li.active a {
    color: black !important;
}
/*nav bar background color*/
#wholeNav {
	background-color:#4B0082;
	opacity: 0.6;
}


/*centers footer and makes footer p/contact h1 purple*/
footer p
{
	text-align: center;
}
footer p, #contact h1{
	color: #4B0082; 
}


/*if device screen is -- OR MORE (min width) do the following */
@media (min-width: @screen-lg-min) {#intro h1 {font-size: 5em;}} /* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-md-min) {#intro h1 {font-size: 5em;}} /* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-sm-min) { #intro h1 {font-size: 3em;}} /* Small devices (tablets, 768px and up) */


/*if device screen is 575/576px OR LESS (max width) do the following */
@media (max-width: 1350px) {img {display:block; margin-left:auto; margin-right: auto; }} /*centers my picture when small screen*/
@media (max-width: 1350px) {.myBlurb p {display:block; padding:0 2em 0 2em; margin-left:auto; margin-right: auto; }} /*centers text when small screen*/
@media (max-width: 1350px) { #myEducation p {padding-bottom: 10%;}} /*spaces out education info when smaller*/

@media (max-width: 576px) {img {max-width: 50%;}} /*makes picture smaller when small screen*/

/*makes "hello world i'm erika" smller when small screen*/
@media (max-width: 1350px) {#intro h1 {font-size: 6em;}}
@media (max-width: 1250px) {#intro h1 {font-size: 5.5em;}}
@media (max-width: 1024px) {#intro h1 {font-size: 5em;}}
@media (max-width: 1000px) {#intro h1 {font-size: 4em;}} 
@media (max-width: 900px) {#intro h1 {font-size: 3em;}} 
@media (max-width: 575px) {#intro h1 {font-size: 2em;}} 
@media (max-width: 400px) {#intro h1 {font-size: 1.5em;}} 






/*GRADIENT NAV BAR, EH */
/*
background: -moz-linear-gradient(left, rgba(124,23,255,0.4) 0%, rgba(124,23,255,0.4) 10%, rgba(124,23,255,0.4) 53%, rgba(124,23,255,0.4) 100%); /* FF3.6-15 
background: -webkit-linear-gradient(left, rgba(124,23,255,0.4) 0%,rgba(124,23,255,0.4) 10%,rgba(124,23,255,0.4) 53%,rgba(124,23,255,0.4) 100%); /* Chrome10-25,Safari5.1-6 
background: linear-gradient(to right, rgba(124,23,255,0.4) 0%,rgba(124,23,255,0.4) 10%,rgba(124,23,255,0.4) 53%,rgba(124,23,255,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#667c17ff', endColorstr='#667c17ff',GradientType=1 ); /* IE6-9 

}
*/ 


/*
breakpoints:
576,
768,
992,
12000

@media (max-width: 576px) {img {font-size: 1em;}}
@media (min-width: 576px) {img {padding-top: 5%;}}

little education parts
<div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Idea">Idea</a> from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"     title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

colored in social medias<div>Icons made by <a href="https://www.flaticon.com/authors/pixel-buddha" title="Twitter">Twitter</a> from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"     title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
black and white social medieas <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Instagram">Instagram</a> from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"     title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
*/